.footer {
  border-top: 1px solid var(--divider);
  margin-top: 2rem;
}

@media (min-width: 900px) {
  .footer {
    margin-top: 4rem;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 600px) {
  .inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.copy {
  font-size: 0.875rem;
  color: var(--muted);
  order: 2;
  margin: 0;
}

@media (min-width: 600px) {
  .copy {
    order: 1;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  order: 1;
}

@media (min-width: 600px) {
  .links {
    order: 2;
  }
}

.link {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--foreground);
  text-decoration: none;
  letter-spacing: 0.2px;
}

.link:hover {
  color: var(--muted);
}
